################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Riotsharp.Tests/apiKey.txt
/.vs
/src/Riotsharp.LeagueOfLegends/obj
/src/Riotsharp.Account/obj
/src/Riotsharp.Core/bin/Debug/net8.0
