################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Riotsharp.Tests/apiKey.txt
/.vs
